<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description -}}</p>
      </div>
      <form action="https://tinyletter.com/abe-winter" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/abe-winter', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true" class="footer-col footer-col-3">
        <div>📬 Subscribe via Tinyletter</div>
        <div style="margin: 4px 0"><input type="text" style="width:140px" name="email" id="tlemail" placeholder="Email"/></div>
        <input type="hidden" value="1" name="embed"/>
        <input type="submit" value="Subscribe" />
      </form>
    </div>


  </div>

</footer>
